<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-object-containing-image-heading"
        data-cy="ObjectContainingImageCreateUpdateHeading"
        jhiTranslate="myShoppingApp.objectContainingImage.home.createOrEditLabel"
      >
        Créer ou éditer un Object Containing Image
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myShoppingApp.objectContainingImage.name" for="field_name">Name</label>
          <div>
            <img
              [src]="'data:' + editForm.get('nameContentType')!.value + ';base64,' + editForm.get('name')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('name')!.value"
              alt="objectContainingImage image"
            />
            <div *ngIf="editForm.get('name')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('nameContentType')!.value }}, {{ byteSize(editForm.get('name')!.value!) }}</span>
              <button
                type="button"
                (click)="clearInputImage('name', 'nameContentType', 'file_name')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_name"
              data-cy="name"
              (change)="setFileData($event, 'name', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <input type="hidden" class="form-control" name="nameContentType" id="field_nameContentType" formControlName="nameContentType" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myShoppingApp.objectContainingImage.json" for="field_json">Json</label>
          <select class="form-control" id="field_json" data-cy="json" name="json" formControlName="json" [compareWith]="compareProduct">
            <option [ngValue]="null"></option>
            <option [ngValue]="productOption" *ngFor="let productOption of productsSharedCollection">{{ productOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
