<div>
  <h2 id="page-heading" data-cy="ObjectContainingImageHeading">
    <span jhiTranslate="myShoppingApp.objectContainingImage.home.title">ObjectContainingImages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myShoppingApp.objectContainingImage.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-object-containing-image"
        [routerLink]="['/object-containing-image/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myShoppingApp.objectContainingImage.home.createLabel"> Créer un nouveau Object Containing Image </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="objectContainingImages?.length === 0">
    <span jhiTranslate="myShoppingApp.objectContainingImage.home.notFound">Aucun Object Containing Image trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="objectContainingImages && objectContainingImages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="myShoppingApp.objectContainingImage.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="json.id">
            <div class="d-flex">
              <span jhiTranslate="myShoppingApp.objectContainingImage.json">Json</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let objectContainingImage of objectContainingImages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/object-containing-image', objectContainingImage.id, 'view']">{{ objectContainingImage.id }}</a>
          </td>
          <td>
            <a *ngIf="objectContainingImage.name" (click)="openFile(objectContainingImage.name, objectContainingImage.nameContentType)">
              <img
                [src]="'data:' + objectContainingImage.nameContentType + ';base64,' + objectContainingImage.name"
                style="max-height: 30px"
                alt="objectContainingImage image"
              />
            </a>
            <span *ngIf="objectContainingImage.name"
              >{{ objectContainingImage.nameContentType }}, {{ byteSize(objectContainingImage.name) }}</span
            >
          </td>
          <td>
            <div *ngIf="objectContainingImage.json">
              <a [routerLink]="['/product', objectContainingImage.json.id, 'view']">{{ objectContainingImage.json.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/object-containing-image', objectContainingImage.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/object-containing-image', objectContainingImage.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(objectContainingImage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
