<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-product-heading" data-cy="ProductCreateUpdateHeading" jhiTranslate="myShoppingApp.product.home.createOrEditLabel">
        Créer ou éditer un Product
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myShoppingApp.product.productName" for="field_productName">Product Name</label>
          <input
            type="text"
            class="form-control"
            name="productName"
            id="field_productName"
            data-cy="productName"
            formControlName="productName"
          />
          <div *ngIf="editForm.get('productName')!.invalid && (editForm.get('productName')!.dirty || editForm.get('productName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('productName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myShoppingApp.product.productPrice" for="field_productPrice">Product Price</label>
          <input
            type="number"
            class="form-control"
            name="productPrice"
            id="field_productPrice"
            data-cy="productPrice"
            formControlName="productPrice"
          />
          <div
            *ngIf="editForm.get('productPrice')!.invalid && (editForm.get('productPrice')!.dirty || editForm.get('productPrice')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('productPrice')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('productPrice')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Ce champ doit être un nombre.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="myShoppingApp.product.productCategory" for="field_productCategories">Product Category</label>
          <select
            class="form-control"
            id="field_productCategories"
            data-cy="productCategory"
            multiple
            name="productCategories"
            formControlName="productCategories"
            [compareWith]="compareProductCategory"
          >
            <option [ngValue]="productCategoryOption" *ngFor="let productCategoryOption of productCategoriesSharedCollection">
              {{ productCategoryOption.categoryName }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
